# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/

# System files
.DS_Store
Thumbs.db

# Large raw data files
data/raw/*.csv
data/raw/*.xlsx

# Optional outputs
*.log
